@font-face {
    font-family: 'Fortnite';
    src: url('../font/fortnite.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

body {
    width: 900px;
    padding: 0%;
    margin: 0%;
}

/*------------ HEADER ------------*/

header {
    height: 60px;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo {
    font-family: Fortnite;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 8px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    
}

/*------------ HEADER ------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.banner {
    width: 100%;
    height: 100%;
    /*background-color: #ccc;*/
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 900px;
}

h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 20px;
}

form input {
    width: 320px;
    font-size: 20px;
}

form textarea {
    height: 100px;
}

form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .buttons input {
    width: 140px;
    height: 40px;
    background-color: #333;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

/*------------ FOOTER ------------*/

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

footer .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer .nav a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

footer .nav .copyright {
    margin-bottom: 20px;
}

footer .nav .social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

footer .nav .social-media div {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

/*------------ FOOTER ------------*/